@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.tag {
  background-color: $mainColor;
  border-radius: 10px;
  color: white;
  flex: 0.3;
  height: 1.6rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(small) {
    @include police-s10-white-w700;
  }
}
