@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.tag {
  background-color: $mainColor;
  color: $textColor_tagTitle;
  border-radius: $borderRadius_medium;
  flex: 0.3;
  height: 1.6rem;
  font-size: $fontSize_tagTitle;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(small) {
    font-size: $fontSize_tagTitleMobile;
  }
}
