@import '../../styles/mixin.scss';
.rating {
  position: relative;
  display: inline-block;

  &__emptyStars img,
  &__fullStars img {
    width: 2.25rem;
    height: 2.25rem;
    @include breakpoint(small) {
      width: 1.12rem;
      height: 1.12rem;
    }
  }

  &__emptyStars {
    display: flex;
  }

  &__fullStars {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
  }
}
