@import '../styles/mixin.scss';
@import '../styles/variables.scss';

* {
  max-width: 1440px;
  font-family: 'Montserrat', sans-serif;
  font-weight: $fontWeight_default;
}
html {
  margin: 0 auto;
  body {
    margin: 0;
  }
  a {
    text-decoration: none !important;
    color: black;
  }
  li {
    list-style: none;
  }
}
