$mainColor: #ff6060;
$secondColor: #f6f6f6;

$fontSizeXXXL: 18rem;
$fontSizeXXL: 6rem;
$fontSizeXL: 2.9rem;
$fontSizeL: 2.25rem;
$fontSizeM: 1.12rem;
$fontSize24px: 1.5rem;
$fontSize14px: 0.87rem;
$fontSize13px: 0.81rem;
$fontSize12px: 0.75rem;
$fontSize10px: 0.62rem;

$fontWeight_default: 500;
$fontWeight_fine: 400;
$fontWeight_strong: 700;

$borderRadius_large: 25px;
$borderRadius_medium: 10px;
$borderRadius_small: 5px;
$borderRadius_hostPicure: 50%;
$borderRadius_noBR: 0;

//Text colors
$textColor_cardTitle: $secondColor;
$textColor_collapseTitle: $secondColor;
$textColor_tagTitle: $secondColor;
$textColor_textBanner: $secondColor;
$textColor_numSlideCarrousel: $secondColor;
$textColor_collapseButton: $secondColor;
$textColor_footerText: $secondColor;
$textColor_hostName: $mainColor;
$textColor_accomodationTitle: $mainColor;
$textColor_errorText: $mainColor;

//font-size
$fontSize_bannerText: $fontSizeXL;
$fontSize_bannerTextMobile: $fontSize24px;
$fontSize_accommodationTitle: $fontSizeL;
$fontSize_accommodationTitleMobile: $fontSizeM;
$fontSize_cardTitle: $fontSizeM;
$fontSize_accommodationSubtitle: $fontSizeM;
$fontSize_accommodationSubtitleMobile: $fontSize14px;
$fontSize_collapseTitle: $fontSizeM;
$fontSize_collapseTitleMobile: $fontSize13px;
$fontSize_collapseContent: $fontSizeM;
$fontSize_collapseContentMobile: $fontSize12px;
$fontSize_hostName: $fontSizeM;
$fontSize_hostNameMobile: $fontSize12px;
$fontSize_errorText: $fontSizeL;
$fontSize_errorTextMobile: $fontSizeM;
$fontSize_footerText: $fontSize12px;
$fontSize_tagTitle: $fontSize14px;
$fontSize_tagTitleMobile: $fontSize12px;
$fontSize_headerNav: $fontSize24px;
$fontSize_headerNavMobile: $fontSize12px;
$fontSize_numError: $fontSizeXXXL;
$fontSize_numErrorMobile: $fontSizeXXL;
$fontSize_homeLink: $fontSize24px;
$fontSize_homeLinkMobile: $fontSize14px;
