@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.host__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  text-align: right;
  padding: 1rem 0 1rem 0;
  @include breakpoint(small) {
    padding: 0 0 0rem 0;
  }
  span {
    color: $textColor_hostName;
    font-size: $fontSize_hostName;
    @include breakpoint(small) {
      font-size: $fontSize_hostNameMobile;
    }
  }
  img {
    width: 40%;
    border-radius: $borderRadius_hostPicure;
    @include breakpoint(small) {
      width: 25%;
    }
  }
}
