@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.collapse {
  width: 50%;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  @include breakpoint(small) {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  &.fullWidth {
    width: 90%;
    @include breakpoint(small) {
      width: 100%;
    }
  }

  button {
    background-color: $mainColor;
    border-radius: $borderRadius_small;
    color: $textColor_collapseButton;
    @include flexRowAlignCenter;
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
    border: none;
    height: 3.25rem;
    @include breakpoint(small) {
      height: 1.87rem;
    }

    span {
      color: $textColor_collapseTitle;
      font-size: $fontSize_collapseTitle;
      font-weight: $fontWeight_strong;

      @include breakpoint(small) {
        font-size: $fontSize_collapseTitle;
      }
    }

    img {
      cursor: pointer;
      transition: transform 0.5s ease-out;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    background-color: #f6f6f673;
    p {
      font-size: $fontSize_collapseContent;
      font-weight: $fontWeight_fine;
      padding: 1rem;
      @include breakpoint(small) {
        font-size: $fontSize_collapseContentMobile;
      }
    }
    ul {
      padding: 1rem;
      li {
        font-size: $fontSize_collapseContent;
        font-weight: $fontWeight_fine;

        @include breakpoint(small) {
          font-size: $fontSize_collapseContentMobile;
        }
      }
    }
  }
}
