@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.carrousel {
  position: relative;

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    cursor: pointer;
    border: none;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    img {
      @include breakpoint(small) {
        height: 24px;
      }
    }
  }

  &__image {
    display: none;
    border-radius: $borderRadius_large;
    @include breakpoint(small) {
      border-radius: $borderRadius_noBR;
    }

    &.active {
      display: block;
      @include objectfitcover;
      height: 415px;
      @include breakpoint(small) {
        height: 255px;
      }
    }
  }

  &__numslide {
    position: absolute;
    right: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    color: $textColor_numSlideCarrousel;
    text-shadow: 1px 1px black;
    @include breakpoint(small) {
      visibility: hidden;
    }
  }
}
