@import '../../styles/mixin.scss';

.carrousel {
  position: relative;

  .carrousel__image {
    display: none;
    border-radius: 25px;
    @include breakpoint(small) {
      border-radius: 0;
    }
  }

  .carrousel__image.active {
    display: block;
    @include objectfitcover;
    height: 415px;
    @include breakpoint(small) {
      height: 255px;
    }
  }

  .carrousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    cursor: pointer;
    border: none;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
    img {
      @include breakpoint(small) {
        height: 24px;
      }
    }
  }
  .carroussel__numslide {
    position: absolute;
    right: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    color: white;
    @include breakpoint(small) {
      visibility: hidden;
    }
  }
}
