@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3rem 0 3rem;
  @include breakpoint(verysmall) {
    margin: 1rem 1.5rem 0 1.5rem;
  }
  img {
    width: 210px;

    @include breakpoint(small) {
      width: 145px;
    }

    @include breakpoint(verysmall) {
      width: 110px;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;

    ul {
      display: flex;
      gap: 3rem;
      padding: 0;

      @include breakpoint(small) {
        gap: 1.5rem;
      }

      @include breakpoint(verysmall) {
        gap: 1rem;
      }

      a {
        font-size: $fontSize_headerNav;
        @include breakpoint(small) {
          text-transform: uppercase;
          font-size: $fontSize_headerNavMobile;
        }
      }
    }
  }
}

.active {
  text-decoration: underline !important;
}
