@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.gallery {
  background-color: $secondColor;
  border-radius: $borderRadius_large;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;

  @include breakpoint(small) {
    padding: 0;
    border-radius: $borderRadius_medium;
    gap: 2rem;
  }
}
