@import '../../styles/mixin.scss';

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  @include breakpoint(small) {
    padding: 3rem;
  }

  .footer__logo {
    width: 100%;
    text-align: center;

    img {
      width: 122px;
    }
  }

  .footer__text {
    font-weight: 500;
    text-align: center;
    @include breakpoint(small) {
      @include police-s12-mainColor-w500;
      color: white;
    }
  }
}
