@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

footer {
  background-color: black;
  color: $textColor_footerText;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  @include breakpoint(small) {
    padding: 3rem;
  }

  .footer__logo {
    width: 100%;
    text-align: center;

    img {
      width: 122px;
    }
  }

  .footer__text {
    text-align: center;
    @include breakpoint(small) {
      font-size: $fontSize_footerText;
    }
  }
}
