@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.accommodation {
  @include marginpages;

  &__infoBloc {
    display: flex;
    justify-content: space-between;
    @include breakpoint(small) {
      @include flexColumn;
    }

    &--titleTagBloc {
      @include flexColumn;
      justify-content: space-between;

      &--titleContainer {
        padding: 2rem 0 1rem 0;
        @include breakpoint(small) {
          padding: 1rem 0 1rem 0;
        }

        h1 {
          color: $textColor_accomodationTitle;
          font-size: $fontSize_accommodationTitle;
          @include breakpoint(small) {
            font-size: $fontSize_accommodationTitleMobile;
          }
        }

        p {
          font-size: $fontSize_accommodationSubtitle;
          @include breakpoint(small) {
            font-size: $fontSize_accommodationSubtitleMobile;
          }
        }
      }

      &--tagContainer {
        display: flex;
        flex-wrap: nowrap;
        padding: 0 0 1rem 0;
        gap: 1rem;
      }
    }

    &--hostRatingBloc {
      @include flexColumn;
      align-items: flex-end;
      justify-content: center;

      @include breakpoint(small) {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &__collapseBloc {
    display: flex;
    width: 100%;
    gap: 2rem;
    @include breakpoint(small) {
      @include flexColumn;
      gap: 0;
    }
  }
}
