@import '../../styles/mixin.scss';

.accommodation {
  @include marginpages;

  &__infoBloc {
    display: flex;
    justify-content: space-between;
    @include breakpoint(small) {
      flex-direction: column;
    }

    &--titleTagBloc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &--titleContainer {
        padding: 2rem 0 1rem 0;
        @include breakpoint(small) {
          padding: 1rem 0 1rem 0;
        }

        h1 {
          @include title-s36-w500;
          @include breakpoint(small) {
            @include police-s18-mainColor;
            font-weight: 500;
          }
        }

        p {
          @include police-s18-black;
          @include breakpoint(small) {
            @include police-s14-black-w500;
          }
        }
      }

      &--tagContainer {
        display: flex;
        flex-wrap: nowrap;
        padding: 0 0 1rem 0;
        gap: 1rem;
      }
    }

    &--hostRatingBloc {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      @include breakpoint(small) {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &__collapseBloc {
    display: flex;
    width: 100%;
    gap: 2rem;
    @include breakpoint(small) {
      flex-direction: column;
      gap: 0;
    }
  }
}
