@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 223px;
  border-radius: $borderRadius_large;
  margin-bottom: 3rem;

  @include breakpoint(small) {
    height: 111px;
    margin-bottom: 2rem;
  }

  &__text {
    position: relative;
    z-index: 1;
    color: $textColor_textBanner;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: $fontSize_bannerText;
    font-weight: $fontWeight_strong;

    @include breakpoint(small) {
      font-size: $fontSize_bannerTextMobile;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $borderRadius_large;
  }
}
