@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.error {
  @include flexColumn;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;

  @include marginpages;

  &__num {
    color: $mainColor;
    font-size: $fontSize_numError;
    font-weight: $fontWeight_strong;
    @include breakpoint(small) {
      font-size: $fontSize_numErrorMobile;
    }
  }

  &__text {
    color: $textColor_errorText;
    font-size: $fontSize_errorText;
    @include breakpoint(small) {
      font-size: $fontSize_errorTextMobile;
      text-align: center;
    }
  }

  &__homeLink {
    text-decoration: underline !important;
    font-size: $fontSize_homeLink;
    padding: 1rem;
    @include breakpoint(small) {
      font-size: $fontSize_homeLinkMobile;
    }
  }
}
